
.backgroundAppNigth{
    background:linear-gradient(135deg, #1a2634 0%,#a89e9e 100%);
   // height: 100dvh;
    background-size:contain;
}


.backgroundAppSunnyDay{
    background:linear-gradient(135deg, #ffd97b 0%,#f6a742 100%);
   // height: 100dvh;
}


.backgroundAppCloud{
    background:linear-gradient(135deg, #1a2634 0%,#a89e9e 100%);
    height: 100dvh;
}


.backgroundAppRainDay{
    background:linear-gradient(135deg, #1a2634 0%,#a89e9e 100%);
    height: 100dvh;
}


.backgroundAppSnow{
    background:linear-gradient(135deg, #1a2634 0%,#a89e9e 100%);
    height: 100dvh;
}

.backgroundAppDefault{
    background:linear-gradient(135deg, #1a2634 0%,#a89e9e 100%);
    height: 100dvh;
}
